<h1>Todo Edit</h1>

<br></br>

<h1>EditTodo</h1>
<div>
<form action= "/todos/update/updateAction" method= "POST">
Description:<input type= "text" name= "descriptionUpdate" value = '{{todo.description}}'/>
<br></br>
Done:<input type="checkbox" name="doneUpdate" {{#if todo.done}}
                checked
                {{else}}
                unchecked
                {{/if}} />
<input type ="hidden" name = "idUpdate" value = '{{todo.id}}'/>
<input type ="hidden" name = "idTodoListUpdate" value = '{{todo.idTodoList}}'/>
<br></br>
<button type= "submit" >Update Todo</button>
</form>
</div>